<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.recoveryrecord.surveyandroid.example"
    tools:ignore="ExtraText">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:label="BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!--    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />-->
    <!-- Required to access activity recognition. -->
    <!-- TODO: Add both activity recognition permissions to the manifest. -->
    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".NewsHybridActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsHybridActivity"/>
        <receiver android:name = ".NotificationListenerNews" />
        <receiver android:name = ".NotificationListenerESM" />
        <receiver android:name = ".NotificationListenerDiary" />

        <activity android:name=".SettingsActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".TestBasicActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.BasicActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyProgressActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.SurveyProgressActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ReadHistoryActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.ReadHistoryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PushHistoryActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.PushHistoryActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationRangeActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.NotificationRangeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MediaRankActivity"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.MediaRankActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsModuleActivity"
            android:parentActivityName=".NewsHybridActivity"
            android:theme="@style/AppThemeActionBar"
            tools:targetApi="jelly_bean">
            <intent-filter>
                <action android:name="com.recoveryrecord.surveyandroid.example.NewsModuleActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TestNewsOneActivity" />
        <activity android:name=".SurveyActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@style/Widget.SurveyAndroid"/>
<!--        <activity android:name=".NetworkCheckerActivity" />-->
        <activity android:name=".TestNotificationSettingActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".TestAddNotificationActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".activity.NotificationDbViewActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".ActivityRecognitionPermissionRationalActivity"/>
        <activity android:name=".TestActivityRecognitionActivity"/>
        <activity android:name=".TestNewsAllActivity"/>

        <activity android:name=".TestServiceActivity"
            android:theme="@style/AppThemeActionBar"/>
        <activity android:name=".TestDoubleBarActivity" />
        <activity android:name=".ESMLoadingPageActivity" />
        <activity android:name=".DiaryLoadingPageActivity" />



        <receiver android:name=".receiever.ApplicationSelectorReceiver" />
        <receiver android:name=".receiever.ScreenStateReceiver"
            tools:ignore="Instantiatable" />
        <receiver android:name=".receiever.ApplicationSelectorReceiver" />
        <receiver android:name=".receiever.BlueToothReceiver"
            tools:ignore="Instantiatable" />
        <receiver android:name=".receiever.NetworkChangeReceiver"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NewsNotificationRestarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
<!--        <receiver android:name=".TAlarmReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--        </receiver>-->
<!--        <receiver android:name=".TAlarmReceiver"-->
<!--            android:enabled="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
        <!-- Mention the service name here -->
        <service android:name=".NewsNotificationService"
            android:stopWithTask="false"
            android:enabled="true">
        </service>
        <service android:name=".NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
<!--        <service-->
<!--            android:name=".MyPushNotificationService"-->
<!--            android:stopWithTask="false"-->
<!--            android:enabled="true">-->
<!--        </service>-->
        <service android:name=".receiever.ActivityRecognitionReceiver"/>
        <service android:name=".receiever.AppUsageReceiver" />
        <service android:name=".receiever.MyBackgroudService"/>
    </application>

</manifest>